.profile__edit-button {
    width: 24px;
    height: 24px;
    background-image: url(../../../images/Edit\ Button.svg);
    background-color: #000;
    border: 0;
    position: absolute;
    top: 15px;
    right: 0;
}