.popup__image-view {
    display: none;
    background-image: url(../../../images/dombay.jpg);
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 75vw;
    height: 75vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}