.profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 336px;
    min-height: 73px;
    position: relative;
    outline: 1px red solid;
}

@media screen and (max-width: 460px) {
    .profile__info {
    max-width: 100%;
    justify-content: center;
    }
}