.footer {
    max-width: 318px;
    margin: 67px 0 0 200px;
}

@media screen and (max-width: 960px) {
    .footer {
        margin-left: 122px;
    }
}

@media screen and (max-width: 425px) {
    .footer {
        max-width: calc(100% - 19px * 2);
        margin: 48px auto 0;
    }
}